header, footer {
    padding: 10px;
    max-width: 600px;
    margin: auto;
}

body {
    justify-items: center;
    min-height: 100vh;
    align-content: center;
    background-color: #bad2ee;
}
main {
    background-color: white;
    padding: 20px;
    border-radius: 9px;
    box-shadow: 0 6px rgba(0, 0, 0, 0.1);
    width: 500px;
}